.review-mid__circle {
  margin-top: 120px;
}

.review-image__wrapper {
  margin-top: 30px;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.review-text__wrapper {
  margin-top: 30px;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.review__text {
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
  font-weight: 600;
  display: flex;
}

.review-msg__text {
  width: 78%;
  margin-top: 10px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
}

.review-btn {
  margin-top: 103px;
  position: absolute;
  margin-left: 121px;
  background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.review__link {
  margin-top: 222px;
  position: absolute;
  margin-left: -184px;
  width: 315px;
  height: 48px;
}

.link__text {
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #445984;
  padding: 3px;
  border-bottom: 2px solid #445984;
}

.review__star {
  margin-top: 182px;
  position: absolute;
}

.dot__wrapper {
  position: absolute;
  margin-top: 123px;
  margin-left: 56px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background: #8EF15C;
  opacity: 0.25;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
  border-radius: 11111px;
  opacity: 1;
  width: 36px;
  height: 12px;
}

.lowerCircle {
  position: relative;
  margin-top: 172px;
  margin-left: -159px;
}

.red-circle {
  position: absolute;
  margin-top: 1px;
}

.blue-circle {
  position: absolute;
  margin-top: 194px;
  margin-left: 259px;
}

.review-blue-circle {
  position: absolute;
  margin-top: 1px;
  margin-left: 212px;
}

.review-red-circle {
  position: absolute;
  margin-top: 84px;
  margin-left: 29px;
}
