.review-mid__circle {
  margin-top: 120px;
}

.review__text {
  margin-top: 360px;
  position: absolute;
  margin-left: -207px;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
  font-weight: 600;
}

.review-msg__text {
  margin-top: 410px;
  position: absolute;
  margin-left: -245px;
  width: 32%;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
}

.review-btn {
  margin-top: 565px;
  position: absolute;
  margin-left: -263px;
  background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
  border-radius: 8px;
  border: none;
  width: 315px;
  height: 48px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.review__link {
  margin-top: 670px;
  position: absolute;
  margin-left: -268px;
  width: 315px;
  height: 48px;
}

.link__text {
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #445984;
  padding: 3px;
  border-bottom: 2px solid #445984;
}

.review__star {
  margin-top: 182px;
  margin-left: 60px;
  position: absolute;
}
