.welcome__container {
  display: flex;
  position: absolute;
  top: 6.5rem;
  padding: 5.8rem;
  width: 86%;
  height: 120vh;
  background-color: white;
  overflow: hidden;
  justify-content: center;
}

.welcome-form__wrapper {
  display: flex;
  width: 375px;
  height: 812px;
  background: $background-gradient;
}

.form-bulb__wrapper {
  width: 100%;
  margin-top: 93px;
  margin-left: 0px;
  z-index: 1;
}

.welcome-image__wrapper {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.welcome-text__wrapper {
  margin-top: 30px;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}


.form-circle__top {
  z-index: 1;
  position: absolute;
  top: 61px;
}

.form-bulb__img {
  // margin-top: 31px;
  // margin-left: 31px;
  position: absolute;
}

.welcome__text {
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
  font-weight: 600;
}

.welcome-msg__text {
  width: 80%;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
}

.input-circle {
  margin-top: -195px;
  position: absolute;
  margin-left: 295px;
  z-index: 1;
}

@-moz-document url-prefix() {
  .input-circle {
    margin-top: -384px;
    position: absolute;
    margin-left: 295px;
    z-index: 1;
  }
}

@supports (-ms-ime-align:auto) {
  .input-circle {
    margin-top: -384px;
    position: absolute;
    margin-left: 295px;
    z-index: 0;
  }
}

.form__wrapper {
  margin-top: 20px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
}

.welcome-email__text {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(68, 89, 132, 0.3);
}

.welcome-email__input {
  display: flex;
  z-index: 3;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 315px;
  height: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-image: linear-gradient(179.24deg, #BAFB67 -5.37%, #00D23A 196.64%) 2;
  text-indent: 25px;
  font-size: 14px;
  line-height: normal;
  color: rgba(56, 79, 125, 0.65) !important;
  font-weight: 600;
  text-indent: 25px;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 15px #DDEBDC;
}

.welcome-password__text {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(68, 89, 132, 0.3);
}

.welcome-password__input {
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 315px;
  height: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-image: linear-gradient(179.24deg, #BAFB67 -5.37%, #00D23A 196.64%) 1;
  text-indent: 25px;
  font-size: 14px;
  line-height: normal;
  color: rgba(56, 79, 125, 0.65) !important;
  font-weight: 600;
  text-indent: 25px;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 15px #DDEBDC;
}

.welcome-confirm-password__text {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(68, 89, 132, 0.3);
}

.welcome-confirm-password__input {
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 315px;
  height: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-image: linear-gradient(357.82deg, #445984 -14.04%, rgba(68, 89, 132, 0.4) 62.94%) 1;
  text-indent: 25px;
  font-size: 14px;
  line-height: normal;
  color: rgba(56, 79, 125, 0.65);
  font-weight: 600;
  text-indent: 25px;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 15px #DDEBDC;
}

.welcome-btn__signup {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
  border-radius: 8px;
  border: none;
  width: 315px;
  height: 48px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
}

.redirect-login__text {
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 315px;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #445984;
}
